.administrator{
    padding: 50px 0 30px 0;
}

.admin-boxs{
    border: solid 1px rgba(0,0,0,.25);
    text-align: center;
    display: block;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 30px;
}
.admin-boxs:hover{
    text-decoration: none;
    border-color: #e05b5b;
}
.admin-boxs img{
    width: 200px;
    height: 200px;
}
.administrator .table th{
    font-weight: 600;
}
.administrator .inline-form{
    display: inline !important;
}
.administrator .btn{
    border-radius: 0;
    min-width: 100px;
}
.administrator .btn.btn-block{
    min-width: 100%;
}
.administrator input[type='text'],
.administrator input[type='number'],
.administrator select,
.administrator textarea,
.input{
    padding: 10px 0.7em;
    background: none;
    border: 1px solid #D1D1D1;
    outline: none;
    color: #464646;
    font-size: 1em;
    display: block;
    width: 100%;
}
.administrator input[type="text"],
.administrator select,
.input{
    height: 45px;
}
.administrator input[type="text"]:focus, 
.administrator input[type='number']:focus,
.input:focus,
.administrator select:focus,
.administrator textarea:focus{
    border: 1px solid #a0a0a0;
}
.administrator .btn{
    font-size: 15px;
}
.administrator .btn-danger{
    background-color: #e05b5b;
}
.administrator .required{
    color: #e05b5b;
}
.button{
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    font-size: 15px;
}
.administrator label{
    font-weight: 500;
}

.administrator hr{
    border-top: solid 1px #f0f0f0;
}

.administrator .alert-margin{
    margin: 15px 0;
}

.administrator .product-image-detail{
    height: 120px;
    margin: 5px;
    border-radius: 0;   
}
.image-example{
    margin: 1em 0;
}
.image-example .image-container{
    display: inline-block;
    height: 120px;
    position: relative;
}
.image-container .glyphicon{
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    color: white;
    background-color: #e05b5b;
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
}
.image-container img{
    height: 100%;
}
.pagination{
    margin: 0;
}
.image-td img{
    height: 50px;
    display: block;
    margin: auto;
}
.table-midle td{
    vertical-align: middle !important;
}

.update-status select{
    height: 26px;
    padding: 0;
    width: 130px;
    margin: 0;
    font-size: 14px;
    margin-bottom: 5px;
}
.update-status button{
    height: 23px;
    padding: 0;
    min-width: 63px;
    font-size: 14px;
}
.text-small{
    font-size: 11px;
    color: #a0a0a0;
}