@media screen {
    .visible-print-inline{
        display: none;
    }
}
@media print {
    @page {
        size: auto;   /* auto is the initial value */
        margin: 0;  /* this affects the margin in the printer settings */
    }
    .table-responsive{
        margin-top: 30px;
        overflow: visible;
        border: none;
    }
    .well{
        border: none;
        background: none;
        box-shadow: none;
        padding: 0;
    }
}
.account-in small{
    font-size: 14px;
}
.product-image,
.product-single-image{
    height: 300px;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: #f4f4f4;
}

.product-single-image{
    margin: 0;
}

.text-overflow{
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    height: 21px;
    line-height: 21px;
}
.span_2 .span_1_of_single1{
    margin-bottom: 15px;
}
.span_2 .span_1_of_single1:nth-child(3n+1){
    margin-left: 0;
}
.block{
    display: block;
}
.no-radius{
    border-radius: 0;
}
.cart-table td{
    vertical-align: middle !important;
}
.cart-checkout .btn{
    min-width: 150px;
}
.cart-image{
    height: 80px;
    width: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.input-form label{
    font-weight: 400;
}
.button-min{
    min-width: 150px;
}
.order-table td{
    padding: 5px 7px;
    font-size: 15px;
    vertical-align: top;
}
.order-table td:first-child{
    font-weight: 500;
}
.payment-form .input{
    width: 100% !important;
}