h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
    font-family: 'Taviraj', sans-serif;
    font-size: 100%;
    background:#536575;
}
body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.wrap{
    padding:7em 0;
    padding-top: 15px;
}
.header_top{
    background:#EBDF75;
}
.span_1{
    background:#15be74;
    padding:2em 0;
}
.logo{
    text-align: center;
    height: 51px;
    line-height: 51px;
    display: block;
    color: #ffffff;
    font-size: 65px;
    font-weight: 900;
    font-family: 'Pattaya';
    text-decoration: none !important;
}
.row_2{
    background: #fff;
    padding: 34px;
}
.search{
    float: left;
    width:70%;
    margin-right: 6%;
}
.search input[type="text"] {
    padding:15px;
    outline: none;
    color:#B6B2AE;
    background:#fff;
    border:1px solid #f8d5d1;
    width:85%;
    line-height: 1.5em;
    font: 500 13px/13px 'Raleway', sans-serif;
    -webkit-appearance: none;
}
.search input[type="submit"] {
    background: url('../images/search.png') no-repeat 24px 10px #e05b5b;
    padding: 12.5px 38px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
}
.search input[type="submit"]:hover{
    background: url('../images/search.png') no-repeat 24px 10px #15be74;
}
ul.bag{
    padding:0;
    list-style:none;
    margin:0;
    float:left;
    width:24%;
}
ul.bag a:hover{
    text-decoration:none;
}
ul.bag:hover li.bag_right p{
    color:#000;
}
i.bag_left{
    width: 80px;
    height: 46px;
    background: url(../images/bag.png)no-repeat 29px 6px #e05b5b;
    float: left;
    border-right: 1px solid #fff;
}
ul.bag li.bag_right{
    background:#e05b5b;
    padding:16px 10px;
    overflow:hidden;
}
ul.bag li.bag_right p{
    font:500 14px/14px 'Raleway', sans-serif;
    color:#fff;
}
/*--menu--*/
/* dCodes Framework:(c) TemplateAccess */
/* start menu */
.h_menu4 {
    margin: 20px 0 10px;
}
.h_nav h4{
    border-bottom:1px solid rgb(236, 236, 236);
    font-size: 1.5em;
    color:#000;
    line-height: 1.8em;
    text-transform:uppercase;
    margin-bottom: 4%;
}
.h_nav h4.top{
    margin-top:1%;
}
.h_nav ul li{
    display: block;
}
.h_nav ul li a{
    display: block;
    font-size: 0.85em;
    color: #000;
    text-transform: capitalize;
    line-height: 3em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.h_nav ul li a:hover{
    color:#00405d;
    text-decoration:underline;
}
.header-top-right {
    float: right;
    margin-top:26px;
}
.drop-down {
    float: left;
    width: 46%;
    background: none;
    border: none;
    outline: none;
    color: #000;
    font-size: 0.85em;
    margin: 0 5% 0 0;
    display: block;
    cursor: pointer;
    font-weight: 500;
}
.drop_buttons{
    float: left;
    width: 60%;
    margin-right: 10%;
    padding-top:2px;
}
.drop-down-in {
    margin: 0;
    float: right;
}
.rigister-info {
    float: left;
    width:29%;
}
.register-info ul{
    padding:0;
    margin:0;
    list-style:none;
}
.register-info ul li{
    display: inline-block;
}
.register-info ul li a {
    border: 2px solid #e05b5b;
    background:#e05b5b;
    color: #fff;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 500;
}
.register-info ul li a:hover,
.register-info ul li.active a{
    background:#15be74;
    border-color: #15be74;
}
.banner_right{
    padding:0;
}
.banner_left{
    background: #f3f3f3;
    min-height: 575px;
    text-align: center;
    padding: 2em 2em 0;
}
.banner_left img{
    display:inline-block;
}
.banner_desc{
    text-align:left;
}
.banner_desc h1{
    color: #2f303a;
    font-size: 1.7em;
    font-weight: 600;
    margin: 1em 0 0.5em;
}
.banner_desc h2{
    color:#2f303a;
    font-size: 22px;
}
.banner_desc h5 {
    color: #2f303a;
    font-size:2em;
    font-weight: bold;
    margin: 0.7em 0 1em;
}
.banner_desc h5 small {
    font-size:15px;
    font-weight: bold;
    color: #2f303a;
}
.btn1 {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 13px 50px;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1em;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
}
.btn-1 {
    color: #fff;
    background:#15be74;
}
.banner_desc a, .span_3 a{
    position: relative;
    z-index: 1;
}
/* Button 1b */
.btn1-1b:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background:#e05b5b;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
}
.btn1-1b:hover,
.btn1-1b:active {
    color:#fff;
    text-decoration:none;
}
.btn1-1b:hover:after,
.btn1-1b:active:after {
    height: 100%;
}
.btn1:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.content{
    background:#fff;
}
.content_box{
    margin:0 auto;
    width:90%;
}
ul.grid_2{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
}
ul.grid_2 li{
    width:20%;
    float:left;

}
ul.grid_2 a li{
    padding:2em 1em;
}
ul.grid_2 li:hover{
    background:#f3f3f3;
}
ul.grid_2 li img{
    display:inline-block;
    margin-bottom: 1em;
}
span.btn5 {
    color: #fff;
    background: #15be74;
    padding: 7px 25px;
    margin: 1em 0;
    font-weight: normal;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
ul.grid_2 li p{
    font-size:1em;
    line-height:1.5em;
    margin-top: 1.5em;
}
.col_1_of_2:first-child{
    margin-left: 0;
}
.span_1_of_2 {
    width:48.2%;
}
.col_1_of_2{
    display: block;
    float: left;
    margin:0 0 0 3%;
}
.grid_3{
    padding:3em 0 7em;
}
.box_3{
    border:5px solid #e8e2e2;
}
.span_3{
    padding:1em 0 1em 1em;
}
.span_3 h3{
    color: #2f303a;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 600;
}
.span_3 h4{
    color:#15be74;
    font-size:1.5em;
    margin-top:18px;
}
.span_3 p{
    color:#555;
    font-size:13px;
    line-height:1.5em;
}
a.btn1.btn6.btn-1.btn1-1b {
    padding: 7px 25px;
    font-size: 14px;
    margin-top:2em;
}
.span_4{
    position:relative;
}
.span_5{
    position:absolute;
    top:120px;
}
.footer_top {
    padding-bottom: 5em;
}
ul.f_nav {
    margin:0;
    padding: 0;
    list-style: none;
}
ul.f_nav li a {
    display: block;
    font-size: 0.8125em;
    color: #777777;
    text-transform: capitalize;
    line-height: 1.8em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.f_nav li a:hover{
    text-decoration:none;
    color:#15be74;
}
.box_4 h4 {
    border-bottom: 1px solid rgb(236, 236, 236);
    font-size: 1.2em;
    color: #000;
    line-height: 1.8em;
    text-transform: capitalize;
}
h4.top {
    margin-top: 4%;
}
.span_of_2 {
    margin: 2em 0 0 0;
    display: block;
}
.span1_of_2 {
    float: left;
    width: 26.33333%;
    margin-right: 4%;
}
.span1_of_2 h5 {
    font-size: 1.2em;
    color: #555555;
    line-height: 1.8em;
    text-transform: capitalize;
    display: block;
}
.span1_of_2 p {
    color: #777777;
    line-height: 1.8em;
    font-size: 0.8725em;
}
.social-icons {
    margin-top: 1%;
}
.social-icons ul {
    padding: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
}
.social-icons li a {
    height: 46px;
    width: 46px;
    display: block;
    background: url(../images/soc_icons.png);
}
.social-icons li a:hover{
    opacity:0.8;
}
.social-icons li:nth-child(1) a {
    background: url(../images/soc_icons.png) 0% 0%;
}
.social-icons li:nth-child(2) a {
    background: url(../images/soc_icons.png) 25% 0%;
}
.social-icons li:nth-child(3) a {
    background: url(../images/soc_icons.png) 50% 0%;
}
.social-icons li:nth-child(4) a {
    background: url(../images/soc_icons.png) 75% 0%;
}
.social-icons li:nth-child(5) a {
    background: url(../images/soc_icons.png) 100% 0%;
}
.copy{
    margin-top:3em;
    text-align:center;
}
.copy p{
    font-size:0.95em;
    color:#999;
}
/*--men--*/
/*--men--*/
.men{
    padding:5em 0;
}
.block .block-title {
    padding: 10px;
    background:#15be74;
    min-height: 35px;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
}
.block .block-title strong {
    display: block;
    font: normal 14px/16px 'Raleway', sans-serif;
    min-height: 16px;
    padding: 1px 0 1px;
    text-transform: uppercase;
    color: #fff;
}
.block .block-content {
    margin: 2em 0;
    padding:0;
}
.block .block-subtitle {
    margin: 0;
    padding: 5px 9px;
    font-size: 1em;
    font-weight: bold;
    color: #0a263c;
}
.block-layered-nav dt {
    padding: 10px 0;
    font-weight: bold;
    text-transform: capitalize;
    color:#e05b5b;
}
.block-layered-nav dd ol{
    padding:0;
    margin:0;
    list-style:none;
}
.block-layered-nav dd {
    padding: 0 0 20px;
}
.block-layered-nav li {
    background: url("../images/arrow-menu1.png") no-repeat scroll 5px 9px;
    padding-left: 20px;
    line-height: 25px;
    color:#e05b5b;
    font-size: 0.8125em;
}
.block-layered-nav li a {
    text-decoration: none;
    color:#8E7558;
    font-weight:500;
}
.block-layered-nav li a:hover{
    color:#e05b5b;
}
p.empty {
    margin: 0;
    padding: 5px 9px;
    font-size: 0.8125em;
    color:#8E7558;
    font-weight:500;
}
.mens-toolbar {
    margin: 0 0 12px;
    overflow: hidden;
    background:#e05b5b;
    padding: 5px;
    border: none;
}
.mens-toolbar .sort {
    float: left;
    width: 31.5%;
}
.sort {
    padding: 3px 8px;
}
.sort-by {
    color: #fff;
    font-size: 0.8125em;
    padding: 2px;
}
.sort-by label{
    margin-bottom:0;
}
.mens-toolbar .pager {
    padding: 1px 8px 3px 8px;
    float: right;
    width: 42.5%;
    margin: 0;
}
.limiter {
    float: right;
    color: #fff;
    font-size: 0.8125em;
    margin-top: 3px;
}
.pager .limiter select {
    padding: 0;
    margin: 0 0 1px;
    vertical-align: middle;
    color:#000;
}
select {
    color: #000;
}
ul.dc_pagination li {
    float: left;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
}
ul.dc_pagination li a {
    color: #fff;
    display: block;
    padding: 2px 4px 0px 0px;
    text-decoration: none;
    font-size: 0.8125em;
    border: none;
    border-radius: inherit;
    background: none;
}
.pager .limiter label {
    color: #fff;
    margin-bottom: 0;
    font-weight: 500;
}
.span_2 {
    padding: 2em 0;
    padding-top: 0;
}
.span_1_of_single1 {
    width: 30.7%;
    border: 1px solid #fff;
    text-align: center;
    padding: 0 0 1em 0;
}
.span_1_of_single1:hover{
    border: 1px solid #DDD;
}
.col_1_of_single1 {
    display: block;
    float: left;
    margin: 1% 0 1% 3.6%;
}
.col_1_of_single1:first-child {
    margin-left: 0;
}
.span_1_of_single1 h3, .span_1_of_single1 h4, .span_4 h3{
    font-size:0.85em;
    font-weight:500;
    color:#000;
    margin-bottom: 0;
}
.span_1_of_single1 p, .span_4 p{
    font-size:0.8125em;
    color:#968F88;
    margin:5px 0;
}
.span_1_of_single1 a{
    text-decoration:none;
}
.span_1_of_single1 img,
.span_1_of_single1 .img{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.span_1_of_single1 img:hover,
.span_1_of_single1 .img:hover{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
/*--single--*/
.images_3_of_2 {
    width: 46.2%;
    float: left;
    margin-right: 2.6%;
}
.desc1 {
    display: block;
    float: left;
}
.span_3_of_2 {
    width: 50.3333%;
}
.span_3_of_2 h1{
    color: #555;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
p.m_5 {
    font-size: 1.8em;
    color: #555;
}
p.m_5 a {
    color: #3e3f3f;
    font-size:13px;
}
.btn_form form [type="submit"],
.btn-button-form {
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 1em;
    padding: 10px 34px;
    background:#e05b5b;
    color: #FFF !important;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
}
.btn_form form [type="submit"]:hover,
.btn-button-form:hover{
    background:#15be74;
}
span.m_link a {
    color: #555;
    font-size: 0.85em;
    text-decoration: underline;
    text-transform: uppercase;
}
span.m_link a:hover{
    text-decoration:none;
}
.btn_form {
    margin:2em 0;
}
p.m_text2 {
    color: #777;
    font-size: 0.85em;
    line-height: 1.8em;
    margin-top:10px;
}
.slider_flex{
    border:1px solid #f0f0f0;
}
.toogle {
    margin-bottom:2em;
}
.toogle h2 {
    color: #000;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.span_1_of_single1 img{
    margin-bottom:1em;
    display:inline-block;
}
h4.head_single{
    color: #000;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 3em 0 2em;
}
.span_4{
    text-align:center;
    padding-left: 0;
}
.span_4 img{
    margin-bottom:1em;
}
.span_4 a:hover{
    text-decoration:none;
}
.error-404.text-center {
    min-height: 500px;
}
.error-404 h1 {
    font-size: 35px;
    font-weight: 700;
    color:#e05b5b;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.error-404 p {
    color: #4f4844;
    font-size: 1.2em;
    margin: 1em 0;
}
a.b-home {
    background: #4f4844;
    padding: 0.8em 1.5em;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    margin-top: 1em;
}
a.b-home:hover{
    background:#15be74;
}
.addr p + dl {
    margin-top: 11px;
}
.addr dl dt, .addr dl dd {
    display: inline-block;
}
.addr dl dt {
    min-width: 120px;
}
h1.contact_head{
    color: #000;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 1em;
    padding-left: 15px;
}
.addr p:first-child {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 1em;
}
.contact_form {
    margin-top: 4em;
    padding: 0 15px;
}
.contact_form h2{
    color: #000;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 1em;
}
.row_5 input[type="text"] {
    padding: 10px;
    width: 31.99%;
    font-size: 0.8125em;
    margin: 10px 0;
    color: #999;
    background: none;
    float: left;
    outline: none;
    border: 1px solid #96a6a7;
    text-transform: uppercase;
}
.row_6 textarea {
    width: 100%;
    font-size: 0.8125em;
    margin: 10px 0;
    border: 1px solid #96a6a7;
    color: #999;
    background: none;
    outline: none;
    text-transform: uppercase;
    height:100px;
    padding: 10px;
    resize: none;
}
.contact_form input[type="submit"] {
    color: #FFF;
    text-align: center;
    font-size: 0.95em;
    font-weight: normal;
    padding: 15px 30px;
    text-transform: uppercase;
    background:#e05b5b;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.contact_form input[type="submit"]:hover{
    background:#15be74;
}
/*--cart--*/
.cart{
    min-height:500px;
}
.cart h1, .cart h2{
    margin: 10px 0;
    color: #333333;
    text-transform: uppercase;
    font-size: 50px;
}
.cart h2 a{
    color:#e05b5b;
}
/*--login--*/
.account-top span{
    font-size: 1em;
    color: #999;
    display: block;
    line-height: 2em;
}
.account-top input[type="text"], .account-top input[type="password"] {
    padding: 0.7em;
    width: 85%;
    background: none;
    border: 1px solid #D1D1D1;
    outline: none;
    color: #464646;
    font-size: 1em;
}
.account-top input[type="submit"] {
    background:#e05b5b;
    color: #fff;
    font-size: 1.1em;
    border: none;
    outline: none;
    border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    font-weight: 600;
    padding: 0.4em 1.3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.account-top div{
    margin-bottom: 1em;
}
a.create {
    text-decoration: none;
    color: #fff;
    padding: 7px 20px;
    background:#e05b5b;
    text-align: center;
    display: block;
    border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
}
a.create:hover, .account-top input[type="submit"]:hover, .register-but form input[type="submit"]:hover{
    background: #15be74;
}
.five-in {
    background: #fff;
    border-radius: 100px;
    border: 2px solid #f02b63;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1%;
    right: 8%;
    padding: 1.3em 0 0;
    text-align: center;
}
.five-in span {
    font-size: 1em;
    color: #f02b63;
}
.five-in h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: #000;
}
.account-in h2{
    font-size:1.5em;
    color: #000;
    padding: 0 0.5em 1em;
    font-weight: 600;
    text-transform:uppercase;
}
/*--register--*/
.register-top-grid h1, .register-bottom-grid h2 {
    color:#000;
    font-size:1.5em;
    padding-bottom:1em;
    margin: 0;
    font-weight:600;
}
.register-top-grid div, .register-bottom-grid div {
    width: 48%;
    float: left;
    margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
    color:#555;
    font-size: 0.8125em;
    padding-bottom: 0.2em;
    display: block;
    text-transform: uppercase;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
    border: 1px solid #EEE;
    outline-color:#FF5B36;
    width: 96%;
    font-size: 1em;
    padding: 0.5em;
}
.checkbox {
    margin-bottom: 4px;
    padding-left: 27px;
    font-size: 1.1em;
    line-height: 27px;
    cursor: pointer;
}
.checkbox {
    position: relative;
    font-size: 0.85em;
    color:#555;
}
.checkbox:last-child {
    margin-bottom: 0;
}
.news-letter {
    color: #555;
    font-weight:600;
    font-size: 0.85em;
    margin-bottom: 1em;
    display: block;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    clear: both;
}
.checkbox i {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: block;
    width:20px;
    height:20px;
    outline: none;
    border: 2px solid #D2CF99;
}
.checkbox input + i:after {
    content: '';
    background: url("../images/tick1.png") no-repeat 1px 2px;
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input {
    position: absolute;
    left: -9999px;
}
.checkbox input:checked + i:after {
    opacity: 1;
}
.news-letter:hover {
    color:#00BFF0;
}
.register-but{
    margin-top:1em;
}
.register-but form input[type="submit"] {
    background:#e05b5b;
    color: #FFF;
    font-size:1em;
    padding: 0.8em 2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
    border:none;
    outline:none;
}
.register-bottom-grid {
    margin-top:3em;
}
/*--responsive design--*/
@media (max-width:1024px){
    .h_menu4 {
        width: 70%;
    }
    .header-top-right {
        width: 30%;
    }
    .row_2 {
        padding:34px;
    }
    .search {
        width: 65%;
    }
    ul.bag {
        width: 29%;
    }
    .btn1 {
        padding: 12px 35px;
    }
    .banner_left {
        padding: 2em 1em 0;
    }
    .banner_desc h2 {
        font-size: 20px;
    }
    .banner_desc h1 {
        font-size: 1.5em;
        margin: 0.5em 0 0.2em;
    }
    .banner_desc h5 {
        font-size: 1.5em;
        margin: 0.4em 0 0.7em;
    }
    .btn1 {
        padding: 8px 25px;
    }
    .banner_left {
        min-height: 474px;
        padding: 2em 1em 0;
    }
    .span_3 h3 {
        font-size: 1.3em;
    }
    .span1_of_2 {
        width: 30.33333%;
    }
    .span_3_of_2 {
        width: 45.3333%;
    }
    .images_3_of_2 {
        width: 51.2%;
    }
    .span_3_of_2 h1 {
        font-size: 1.1em;
    }
    p.m_5 {
        font-size: 1.5em;
    }
    .row_5 input[type="text"] {
        width: 31.666%;
    }
    .mens-toolbar .sort {
        width: 35.5%;
    }
    .mens-toolbar .pager {
        width: 50.5%;
    }
}
@media (max-width:920px){
    .h_menu4 {
        width: 60%;
    }
    .header-top-right {
        width: 36%;
    }
    .logo img{
        width:150px;
    }
    .span_1{
        width: 25.333333%;
        padding:1em 0;
    }
    .row_2{
        width: 74.666667%;
    }
    .search input[type="text"] {
        padding: 12px;
        width: 70%;
    }
    .search input[type="submit"] {
        background: url('../images/search.png') no-repeat 18px 8px #e05b5b;
        padding: 9.5px 30px;
    }
    .search input[type="submit"]:hover {
        background: url('../images/search.png') no-repeat 18px 8px #15be74;
    }
    .search {
        width: 65%;
        margin-right:0;
    }
    i.bag_left {
        width: 60px;
        height: 42px;
        background: url(../images/bag.png)no-repeat 18px 4px #e05b5b;
    }
    ul.bag li.bag_right {
        padding: 14px 8px;
    }
    ul.bag {
        width: 34%;
    }
    .row_2 {
        padding: 13.5px 15px;
    }
    .h_menu4 {
        margin: 15px 0 10px;
    }
    .header-top-right {
        margin-top: 20px;
    }
    .banner_desc {
        text-align: center;
    }
    .banner_left {
        padding: 1em 1em 0;
    }
    span.btn5 {
        padding: 5px 15px;
        font-size: 15px;
    }
    ul.grid_2 li p {
        font-size: 0.8125em;
    }
    ul.grid_2 a li {
        padding:1em;
    }
    .span_5 {
        top: 6px;
    }
    .span1_of_2 {
        width: 40.33333%;
    }
    .toogle {
        margin: 2em 0;
    }
    .row_5 input[type="text"] {
        width: 31%;
    }
    .addr p:first-child {
        font-size: 16px;
        line-height: 25px;
    }
    .addr dl dt, .addr dl dt, .addr dl dd, address.addr p{
        font-size: 14px;
    }
    .register-top-grid h1, .register-bottom-grid h2 {
        font-size: 1.2em;
    }
    .box_3 {
        margin-top: 3em;
    }
}
@media (max-width:768px){
    .h_menu4 {
        margin: 11px 0 10px;
    }
    .col-md-3.box_4 {
        width: 33%;
        float: left;
    }
    .wrap {
        padding: 3em 0;
    }
    .col-md-5.left-account {
        margin-top: 3em;
    }
    .cart h1, .cart h2 {
        font-size: 30px;
    }
}
@media (max-width:736px){
    .col-sm-9.h_menu4 {
        width: 100%;
    }
    .col-sm-3.header-top-right {
        float: none;
        width:50%;
        margin-top: 15px;
    }
    .header_top {
        padding: 5px 10px 15px;
    }
    .span_1, .row_2{
        width: 100%;
    }
}
@media (max-width:640px){
    .col-sm-3.header-top-right {
        width: 60%;
    }
    .col-sm-3.header-top-right {
        width: 65%;
    }
    ul.grid_2 li p {
        font-size: 13px;
    }
    .span_5 {
        top: 75px;
    }
    .span1_of_2 {
        width: 100%;
        margin-right:0;
    }
    .footer_top {
        padding-bottom:3em;
    }
    .men {
        padding: 2em 0;
    }
    .block .block-content {
        margin: 1em 0;
    }
    .span_3 h3 {
        font-size: 1.1em;
    }
    .mens-toolbar .pager {
        width: 56.5%;
    }
    .mens-toolbar .sort {
        width: 43.5%;
    }
    .span_3_of_2 {
        width: 100%;
    }
    .desc1 {
        float:none;
    }
    .images_3_of_2 {
        width: 100%;
        float: none;
        margin-right: 0;
    }
    .col-sm-3.span_4 {
        width: 50%;
        float: left;
    }
    .col-md-9.single_right {
        margin-bottom: 2em;
    }
    .error-404 h1 {
        font-size: 8em;
    }
    .row_5 input[type="text"] {
        width: 100%;
        margin-left: 0 !important;
    }
    .contact_form h2, h1.contact_head{
        font-size: 1.4em;
    }
}
@media (max-width:480px){
    .wrap {
        padding: 1em 0;
    }
    ul.grid_2 li {
        width: 33%;
        float: left;
    }
    .span_3 h3 {
        font-size: 1em;
    }
    .span_3 h4 {
        font-size: 1.3em;
        margin-top: 10px;
    }
    a.btn1.btn6.btn-1.btn1-1b {
        padding: 6px 16px;
        font-size: 13px;
        margin-top: 1em;
    }
    .content_box {
        width: 90%;
    }
    .span_3 h4 {
        font-size: 0.85em;
    }
    .contact_form {
        margin-top: 2em;
    }
    .register-top-grid div, .register-bottom-grid div {
        width: 100%;
        float: none;
    }
    .register-top-grid h1, .register-bottom-grid h2 {
        font-size: 1.1em;
    }
    .register-but form input[type="submit"] {
        padding: 0.5em 1em;
    }
    .contact_form input[type="submit"] {
        font-size: 0.85em;
        padding: 10px 15px;
    }
    .contact_form h2, h1.contact_head {
        font-size: 1.2em;
    }
}
@media (max-width:414px){
    .header_top {
        padding: 5px 0px 15px;
    }
    .col-sm-3.header-top-right {
        width: 80%;
    }
    .search input[type="submit"] {
        background: url('../images/search.png') no-repeat 12px 6px #e05b5b;
        padding: 8.5px 25px;
    }
    .search input[type="submit"]:hover {
        background: url('../images/search.png') no-repeat 12px 6px #15be74;
    }
    .span_1 {
        padding: 0.7em 0;
    }
    .search input[type="text"] {
        padding: 11px 5px;
        width: 67%;
    }
    i.bag_left {
        width: 45px;
        height: 40px;
        background: url(../images/bag.png)no-repeat 11px 2px #e05b5b;
    }
    ul.bag li.bag_right p {
        font: 500 13px/13px 'Raleway', sans-serif;
    }
    ul.bag li.bag_right {
        padding: 13.5px 6px;
        font-size: 11px;
    }
    .col-md-3, .col-md-6, .col-md-9{
        padding: 0;
    }
    ul.grid_2 a li {
        padding: 10px;
    }
    .span_2 {
        padding: 0em 0;
    }
    .span_3 {
        padding: 0;
    }
    .span_3_of_2 h1 {
        font-size: 1em;
    }
    p.m_5 {
        font-size: 1.1em;
    }
    .error-404 h1 {
        font-size: 5em;
    }
    a.b-home {
        padding: 0.5em 1em;
        font-size: 14px;
    }
    .contact_form h2, h1.contact_head {
        padding-left:0;
    }
    .col-md-3.box_4 {
        width: 100%;
        float: none;
    }
    .account-top input[type="text"], .account-top input[type="password"] {
        padding: 10px;
        width: 100%;
    }
    .col-md-7, .col-md-5{
        padding:0;
    }
}
@media (max-width:320px){
    .col-sm-3.header-top-right {
        width: 100%;
    }
    .drop-down, .register-info ul li a{
        font-size: 12px;
    }
    .search input[type="submit"] {
        background: url('../images/search.png') no-repeat 6px 4px #e05b5b;
        padding: 6.5px 18px;
    }
    .search input[type="submit"]:hover{
        background: url('../images/search.png') no-repeat 6px 4px #15be74;
    }
    .logo img {
        width: 130px;
    }
    .row_2 {
        padding: 10px;
    }
    .search input[type="text"] {
        padding: 9.5px 5px;
        width: 67%;
        font-size: 12px;
    }
    i.bag_left {
        width: 35px;
        height: 35px;
        background: url(../images/bag.png)no-repeat 5px 1px #e05b5b;
    }
    ul.bag li.bag_right p {
        font: 500 12px/12px 'Raleway', sans-serif;
    }
    ul.bag li.bag_right {
        padding: 11.5px 2px;
        font-size: 11px;
    }
    .banner_desc h1, .banner_desc h5{
        font-size: 1.2em;
    }
    .banner_desc h2 {
        font-size: 15px;
    }
    .btn1 {
        padding: 6px 15px;
        font-size: 13px;
    }
    .banner_left {
        min-height: 415px;
    }
    ul.grid_2 li {
        width: 50%;
        float: left;
    }
    ul.bag {
        width: 35%;
    }
    .box_3 {
        margin-top:2em;
        padding: 10px;
    }
    .span_3 h3 {
        font-size:12px;
    }
    a.btn1.btn6.btn-1.btn1-1b {
        padding: 6px 12px;
    }
    .grid_3 {
        padding:1em 0 2em;
    }
    ul.grid_2 li.last1{
        display:none;
    }
    .mens-toolbar .sort {
        width: 100%;
    }
    .mens-toolbar .pager {
        width: 100%;
        float: none;
    }
    .span_1_of_single1 p, .span_4 p {
        font-size: 12px;
    }
    .span_1_of_single1 h3, .span_1_of_single1 h4, .span_4 h3 {
        font-size: 12px;
    }
    .span_3_of_2 h1 {
        font-size: 0.85em;
    }
    p.m_5 {
        font-size: 1em;
    }
    .btn_form form input[type="submit"] {
        font-size: 0.85em;
        padding: 7px 25px;
    }
    .btn_form {
        margin: 1em 0;
    }
    span.m_link a {
        font-size: 13px;
    }
    p.m_text2 {
        font-size: 0.8125em;
    }
    .toogle h2 {
        font-size: 1em;
    }
    h4.head_single {
        font-size: 1em;
        margin: 1em 0 1em;
    }
    .span_4 h4{
        font-size:13px;
    }
    .contact_form {
        margin-top:1em;
        padding: 0;
    }
    .account-in h2 {
        font-size: 1.2em;
        padding: 0 0 0.5em;
    }
    .account-top input[type="text"], .account-top input[type="password"] {
        padding: 10px;
        font-size: 12px;
    }
    .account-top span {
        font-size: 0.85em;
    }
    .account-top input[type="submit"] {
        font-size: 0.85em;
    }
    .register-top-grid h1, .register-bottom-grid h2 {
        font-size: 1em;
    }
    .register-but form input[type="submit"] {
        font-size: 0.85em;
    }
    .cart h1, .cart h2 {
        font-size: 18px;
    }
    .copy{
        margin-top:1em;
    }
    .copy p {
        font-size: 0.8125em;
        color: #999;
    }
    .social-icons li.last2{
        display:none;
    }
    .span1_of_2 h5 {
        font-size: 1em;
        margin-bottom: 0px;
    }
    .span_of_2 {
        margin:0;
    }
    .span1_of_2 {
        margin-top: 1em;
    }
    .header_top {
        padding: 1px 0px 10px;
    }
    .col-sm-3.header-top-right {
        margin-top: 7px;
        padding: 0 10px;
    }
    .h_menu4 {
        margin: 7px 0 8px;
    }
    .col-sm-9.h_menu4 {
        width: 100%;
        padding: 0 10px;
    }
}
